:host {
    display: flex;
    background-color: #Bcbcbc;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
<<<<<<< HEAD

=======
>>>>>>> f6d2f18323cb5e1e42303d6dd55075c456b8238f
.body-style {
    padding: 22px;
    flex-grow: 1;
}
