<div>
  <div class="head">
    <h3>Search by Title</h3>
    <div class="search-box">
      <input type="text" placeholder="input title" [(ngModel)]="searchtitle" />
      <button (click)="search()">
        <img src="../../../assets/glass.svg" />
      </button>
    </div>
    <p *ngIf="!cards">
      <em>
        <img src="../../../assets/loaderIn.gif" alt="load" />
      </em>
    </p>
    <table
      class="table table-striped"
      aria-labelledby="tableLabel"
      *ngIf="cards"
    >
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date Public</th>
          <th>Article</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card.title }}</td>
          <td>{{ card.author }}</td>
          <td>{{ card.datePublish |  date : 'mediumDate' }}</td>
          <td>{{ card.article }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
