
.container{
   background-color: #B9ECEF;
    height:50px;
display:flex;
    flex-direction:row;  
    width:100%;
}
header {
    background-color: #B9ECEF;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.links{
    display:flex;
    justify-content:center;
  
}
.links a{
    color:red;
   margin:0 5px 0 5px;
}
