<app-header></app-header>
<div>
    <h3>Search by Title</h3>
    <input type="text" placeholder="input card title" [(ngModel)]="searchTitle">
    <button (click)="search()">Search</button>

    <table class='table table-striped' aria-labelledby="tableLabell" *ngIf="cards"  >
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let card of cards">
                <td>{{card.title}}</td>
                <td>{{card.author}}</td>
                <td>{{card.article}}<br /></td>
            </tr>
           
        </tbody>
    </table>
</div>


