<div>
  <div class="head">
    <h3>Search by Title</h3>
    <div class="search-box">
      <input type="text" placeholder="input title" [(ngModel)]="searchtitle" />
      <button (click)="searByTitle()">
        <img src="../../../assets/glass.svg" />
      </button>
    </div>
    <div class="update-block">
      <p>You can change your personal info by clicking on this button</p>
      <button (click)="upDate()">Change</button>
    </div>
    <hr />
  </div>
  <div *ngIf="!card">
    <h3>Try a new search!!!</h3>
  </div>
  <section *ngIf="card">
    <div class="card">
      <h3>{{ card.title }}</h3>
      <p>author :{{ card.author }}</p>
      <p>date publication: {{ card.datePublish | date: "mediumDate" }}</p>
      <p>{{ card.article }}</p>
      <h4>Comments</h4>
      <hr />
      <div class="card-comments" *ngFor="let reaction of card.reactions">
      <p>{{reaction.comment}} <span>reaction :</span>{{reaction.assessment | Reaction}}</p>
      </div>
      <div class="card-reaction">
        <br />
        <textarea
          type="text"
          placeholder="Write your comment"
          [(ngModel)]="comment"
        ></textarea>
        <button (click)="handleLikedText($event, card.id)">Like Me!</button>
      </div>
    </div>
  </section>
</div>
