.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  margin-bottom: 5%;
}

.search-box input {
  height: 50px;
  width: 50%;
}

.search-box svg {
  height: 50px;
  width: 50px;
}

.card {
  color: rgb(29, 29, 32);
  border: 2px solid rgb(73, 71, 107);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #abb1b1;
  border-radius: 5px;
}

.card hr {

  width: 30%;
}

.card-reaction {
  display: flex;
}

.head h3 {
  margin-left: 42%;
}

.update-block {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.update-block button {
  border: 2px solid rgb(156, 108, 108);
  margin-left: 14%;
}

.card-comments p {
  color: blue;
}

.card-comments span {
  font-style: italic;
  font-size: 16px;
  color: rgb(26, 255, 0);
}