.card{
    color: blue;
    border: 2px solid rgb(73, 71, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #abb1b1;
    border-radius: 5px;
  }
  .card-reaction{
     display: flex;
  }
  